@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#awards-page {
  width: 100%;
  min-height: 100vh;
  padding: 108px 135px 128px 135px;
  background: #fdf0e9;
}

#awards-page h1 {
  color: var(--Text_Dark, #391400);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  width: 100%;
  border-top: 1px solid #F3D1BF;

}
table tr td{
    padding: 15px 0;
}
table tr td:first-child .img-1 {
  display: flex;
  align-items: center;
}

table tr td:first-child .img-1 img {
  width: 120px;
  height: 80px;
  margin-right: 24px;
  border-radius: 6px;
}

table tr td:first-child .img-1 h2 {
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

table tr td:nth-child(2) p {
  color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

table tr td:last-child .text-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

table tr td:last-child .text-box h3 {
  color: var(--Text_Dark, #391400);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

table tr td:last-child .text-box img {
  width: 48px;
  height: 48px;
  margin-left: 24px;
}

.link-box {
  margin-top: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-box p {
  margin-right: 8px;
  color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.link-box a {
  text-decoration: none;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
